/*html {
	position: relative;
	min-height: 100%;
}*/

.background-page {
	background: url("../images/toystory2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #373D3F;
	margin-bottom: 50px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
}

.main-content {
	background: rgba(245, 255, 250, 0.85);
	border: 3px solid #82a7ca;
	margin-bottom: 80px;
	margin-top: 5vh;
	border-radius: 15px;
	padding: 20px;
}

.page-title {
	font-size: 3rem;
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	/*	color: #82a7ca;*/
}

#game-start {
	height: 50vh;
	padding: 25px 30px 25px 30px;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
}

.start-btn {
	height: 45px;
	font-size: 24px;
	color: #ffffff;
	background: #82a7ca;
	cursor: pointer;
}

#counter-timer-row {
	margin-bottom: 15px;
	margin-top: 15px;
}

#score {
	color: #82a7ca;
	font-weight: bold;
}

.extra-large-text {
	font-size: 32px;
}

.large-text {
	font-size: 26px;
}

.medim-text {
	font-size: 20px;
}

.trivia-question-col {
	font-size: 24px;
}

.trivia-img {
	width: 500px;
}

#trivia-answer-img {
	margin-bottom: 30px;
}

#trivia-question-answers {
	padding: 10px;
}

.trivia-question-answer-item {
	background: rgba(245, 255, 250, 1);
	list-style: none;
	text-align: center;
	border: 1px solid #373D3F;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
	height: 45px;
	line-height: 40px;
	text-transform: uppercase;
}

#trivia-question-answers li:hover {
	cursor: pointer;
	background: #ccdbe8;
	border: 2px solid #82a7ca;
	color: #ffffff;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

.unanswered {
	color: #82a7ca;
}

/*.footer-row {
	background: rgba(245, 255, 250, 0.95);
	border-top: 2px solid #82a7ca;
	margin-top: 20px;
	font-size: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
}*/

/*Use Media Queries to set width of game content
*/
@media (min-width: 576px) {
	.container {
		max-width: 440px;
	}
}


@media (min-width: 768px) {
	.container {
		max-width: 520px;
	}
}


@media (min-width: 992px) {
	.container {
		max-width: 690px;
	}
}

@media (max-width: 992px) {
	.large-text {
		font-size: 22px;
	}

	.medium-text {
		font-size: 18px;
	}
}